.wrap
{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
    align-content: center;

}

.container
        {
            width:300px;
            height: 300px;
            border: 3px solid rgb(133, 97, 51);
            overflow: hidden;
            position: relative;
            margin: auto;
            box-sizing: border-box;
            color: white;
            
        }

        .pic
        {
            width:285px;
            height: 285px;
            margin: 4px auto;
            align-items: center;
            background-color: burlywood;
            transform: translateY(0);
            z-index: 1;
            box-sizing: border-box;
            text-align: center;
            display: flex;
            flex-direction: column-reverse;
        }
        .pic img
        {
            position: absolute;
            top:30px;
            left: 30px;
            display: block;
            width: 80%;
            margin: auto;
            align-content: center;
            justify-content: center;
            
        }
        

        .info
        {
            width:285px;
            height: 220px;
            background-color:gray;
            position: absolute;
            transform: translateY(-30px);
            left:4.5px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-bottom: 20px;
            transition: .3s cubic-bezier(0, 0.44, 0, 0.91);
            z-index: 2;
        }

        .container:hover .info
        {
            transform:translateY(-265px);
            opacity: 0.8;
            justify-content: flex-end;
            
            
        }
        .container:hover h2
        {
            font-size: 20px; 
        }
        .container:hover .pic img
        {
            opacity: 0.7;
        }
        .container:hover .pic .title
        {
            color: transparent;
        }
        h2
        {
            font-size: 12px; 
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 20px;
            
        }
        h3{
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        p{
            font-size: 12px;
            padding-top: 15px;
            letter-spacing: 2px;
            line-height: 20px;
        }

        